{% extends "base.html" %}

{% block title %}
  QuizMe | Remove Question
{% endblock %}

{% block body %}
<div
    style="font-size: 50px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    Remove Question
</div>
<br>
<form id="quickForm" action="/removequestion" method="POST" style="height: 2.5rem; font-size: 1rem;left: 20px;">
        
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="question" placeholder="Type Question.." aria-label="Username" aria-describedby="basic-addon1" required>
    </div>
    <div style="font-size: 30px; margin-top: 1.5rem;">
        <button type="submit" class="btn btn-outline-secondary" style="width: 65rem; height: 2.5rem; font-size: 1rem;left: 20px;">Remove Question</button>
    </div>
</form>
{% endblock %}


{% block navbar%}
<li class="nav-item">
    <a href="/adminq" class="nav-link">
      <p>
        See Current Quiz
      </p>
    </a>
  </li>
<li class="nav-item">
    <a href="/add" class="nav-link">
        <p>
            Add Question
        </p>
    </a>
</li>
<li class="nav-item">
<li class="nav-item">
    <a href="/remove" class="nav-link">
        <p>
            Remove Question
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/showall" class="nav-link">
        <p>
            Check All Results
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/logout" class="nav-link">
        <p>
            Logout
        </p>
    </a>
</li>
{% endblock %}